.booking {
  width: 100%;
  height: 70vh;
  height: 70dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .contacts, 
.map-wrapper {
  /* flex: 1; */
/* } */ 

@media (max-width: 37.5rem) {
  .booking {
    grid-template-columns: 1fr;
    height: 70vh;
    width: auto;
  }
}