.booking {
  height: 80vh;
  height: 80dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
}

.contacts {
  padding: 50px;
}

.hotel {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
}

.king {
  text-decoration: underline;
}

@media (max-width: 37.5rem) {
  .booking {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* height: 70vh; */
  }

  .contacts-titles {
    font-size: 1em;
  }
}