:root {
    --ochra: rgb(205, 165, 94);
}

h1 {
    font-size: 3rem;
}

.home {
    font-size: 3em;
    font-weight: 800;
    margin-top: 10%;
}

.restaurant-name {
    color: var(--ochra);
}

.home {
    display: grid;
    height: calc(70dvh-40px);
}

.grid-items {
    display: grid;
    padding: 30px;
    gap: 10px;
    grid-template-columns: 8ch 8ch;
    place-content: center;
}

.grid-item {
    display: grid;
    place-items: center;
    grid-template-rows: 50px;
    border: 2px solid var(--ochra);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
}

.grid-item:hover {
    background-color: var(--ochra);
    transition: 0.3s;
}

.link {
    padding: 20px;
}

.cursive {
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
    font-size: 1.5rem;
}


@media (max-width: 500px) {
    .grid-items {
        grid-template-columns: 1fr;
    }
}