:root {
    --ochra: rgb(205, 165, 94);
}

h1 {
    font-size: 3rem;
}

.home {
    font-size: 3em;
    font-weight: 800;
}

.name {
    color: var(--ochra);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70dvh;
}

.flex-items {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 10px;
}

.flex-item {
    border: 2px solid var(--ochra);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
}

.flex-item:hover {
    background-color: var(--ochra);
    transition: 0.3s;
}

.link {
    padding: 20px;
}

.cursive {
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
    font-size: 2rem;
}