.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.logo {
    width: 30%;
    position: absolute;
    left: 10px;
    top: 5px;
}

.logo-img {
    width: 40%;
    /* filter: drop-shadow(0 0 10px #add8e6);
    overflow: visible; */
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    margin: 25px 0 25px 0;
    /* border: 1px solid white; */
    border-radius: 10px;
    padding: 10px 15px;
}

@media (max-width: 500px) {
    .nav {
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .nav-links {
        width: 100%
    }
}