* {
  margin: 0;
  padding: 0;
}

.App {
  color: #fff;
}

.bg-color {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: scroll;
}

.menu {
  width: 90%;
  height: 100vh;
}

.main {
  display: flex;
}

.titles {
  width: 20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.items {
  width: 80%;
}

.menu-title {
  margin: 40px 0 40px 0;
}


.title_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: .5s;
  border-bottom: 1px dotted #fff;
  padding-bottom: 7px;
}

.item_name {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.description {
  font-size: small;
}

.menu-subtitle {
  color: #fff;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.2em;
  transition: .5s;
}

.menu-subtitle:hover {
  cursor: pointer;
}

.menu-subtitle:focus {
  color: rgb(31, 202, 102);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
